<form fxFill [formGroup]="filtersGroup" (ngSubmit)="onSubmit()">
    <button type="submit">Submit</button>
    <mat-button-toggle-group  fxLayout="row" fxLayoutAlign="space-evenly center" formControlName="filter">
        <mat-button-toggle mat-stroked-button value="tracks">Top Tracks</mat-button-toggle>
        <mat-button-toggle mat-stroked-button value="artists">Top Artists</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle-group fxLayout="row" formControlName="subFilter" fxLayoutAlign="space-evenly center">
        <mat-button-toggle mat-stroked-button value="short_term">4 Weeks</mat-button-toggle>
        <mat-button-toggle mat-stroked-button value="medium_term">6 Months</mat-button-toggle>
        <mat-button-toggle mat-stroked-button value="long_term">1 Year</mat-button-toggle>
    </mat-button-toggle-group>
    <app-spotity-top-content></app-spotity-top-content>
    <button type="submit">Submit</button>
</form>